body {
  background-image: url('../img/pattern.jpg');
  margin: 0;
  min-height: 100vh;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  z-index: 10;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-link {
  padding: 10px 15px;
}

.main {
  margin-top: 80px;
  padding-bottom: 70px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background: #ffffff;
}

.content {
  padding: 15px 10px;
}

.centered {
  text-align: center;
}

.post {
  margin-top: 35px;
  border-bottom: 1px solid black;
}

.title {
  margin-top: 0;
}

.contact-detail p {
  margin: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  width: 30%;
  font-weight: 700;
  display: inline-block;
}

.input-group {
  display: inline-block;
}
